@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}




body {
  color:whitesmoke;
  background: linear-gradient(
      to bottom,
      transparent,
      #000000
    )
    #2c2b2b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.transaction {
  background: linear-gradient(
      to bottom,
      transparent,
      #000000 60%
    )
    #82f366 100%;
}

.BOT {
  background: linear-gradient(180deg, #448DFC 0%, #285496 100%);
}
